{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}
<div class="logincard">
    <div class="logincontainer">
        <img src="{% static 'assests/logo.png' %}" alt="Your Logo" class="logoimg">
        <div class="title">Login</div>
        <form method="post">
            {% csrf_token %}
            <div class="user_details">
                <div class="input_pox">
                    <span class="datails">Username</span>
                    <input type="text" name="username" id="username" placeholder="enter your Username" required>
                </div>

                <div class="input_pox">
                    <span class="datails">Password</span>
                    <input type="password" name="password" id="password" placeholder="enter your Password" required><br>
                </div>
            </div>
            <div class="button">
                <input type="submit" value="Login">
            </div>
            <p class="small-text">Don't have an account? <a href="{% url 'register' %}">Register here</a></p>
        </form>
    </div>
</div>
{% endblock %}
